* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  font-family: "Inter", sans-serif;
  overflow-x: hidden;
}

header,
main,
section,footer {
  padding: 20px 5%;
}

li,
a {
  text-decoration: none;
  list-style-type: none;
  color: #000000;
}

.container {
  min-width: 100vw;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: sticky;
  top: 0;
  background-color: #fbf8f3;
}

.logo {
  font-size: 1.5rem;
  font-weight: 600;
}

nav ul {
  display: flex;
  align-items: center;
}

nav ul li {
  margin-left: 2.2rem;
  font-size: 1.2rem;
  font-weight: 400;
}

.btn-container {
  display: flex;
  align-items: center;
  gap: 2rem;
}

.btn-container > a {
  font-size: 1.1rem;
  font-weight: 400;
  color: #000000;
}

.btn-container button {
  background-color: #4d13d1;
  padding: 12px 22px;
  border: none;
  border-radius: 4px;
}

.btn-container button > a {
  color: #fff;
  font-size: 1.1rem;
}

/*! main section start */

main {
  background-color: #fbf8f3;
  display: grid;
  align-items: center;
  grid-template-columns: repeat(2, 1fr);
}

.text-col .stars {
  display: inline-flex;
  align-items: center;
  gap: 10px;
  margin-bottom: 15px;
}

.text-col h2 {
  font-size: 3.3rem;
  font-weight: 700;
  margin-bottom: 15px;
}

.text-col .description {
  margin-bottom: 15px;
  color: #4f4f4f;
  font-size: 1.38rem;
  font-weight: 400;
}

.text-col .btn-group {
  display: inline-flex;
  align-items: center;
  gap: 15px;
  margin-bottom: 15px;
}

.text-col .btn-group button {
  background-color: #4d13d1;
  padding: 12px 22px;
  border: none;
  border-radius: 4px;
}

.text-col .btn-group button > a {
  color: #fff;
  font-size: 1.2rem;
  font-weight: 400;
}

.text-col .check-mark {
  display: flex;
  align-items: center;
  gap: 10px;
}

.text-col .check-mark > img {
  width: 1.2rem;
}
.text-col .check-mark > h3 {
  color: #4f4f4f;
  font-weight: 300;
  font-size: 1rem;
  text-align: center;
}
.img-col img {
  width: 100%;
  height: auto;
}

/* section feature starts */

.features {
  background-color: #ffffff;
}

.features > h3 {
  color: #4d13d1;
  font-weight: 700;
  font-size: 1rem;
  margin-bottom: 15px;
}

.features > h2 {
  font-size: 2rem;
  font-weight: 700;
  margin-bottom: 15px;
}

.features .cards {
  display: flex;
  align-items: center;
  gap: 3rem;
}

.features .cards img {
  width: 2rem;
  margin-bottom: 5px;
}

.features .cards h4 {
  font-size: 1rem;
  font-weight: 600;
  margin-bottom: 5px;
}

.features .cards p {
  color: #4f4f4f;
  font-size: 1.1rem;
}

.card-block {
  background-color: #4d13d1;
  border-radius: 5px;
  display: flex;
  align-items: center;
  gap: 2rem;
  padding: 3rem 3rem 0 3rem;
}
.text-block {
  width: 40%;
}
 .text-block h2{
  font-size: 2rem;
  font-weight: 600; 
  color: #ffffff;
  margin-bottom: 15px;
}

 .text-block p {
  font-weight: 300;
  color: #fff;
  margin-bottom: 15px;
}

.text-block > button {
  color: #4d13d1;
  font-size: 1rem;
  font-weight: 700;
  padding: 10px 10px;
  border: none;
  border-radius: 4px;
}

.card-block > img {
  width: 60%;
}

/* testimonials */

.testimonials {
  display: flex;
  align-items: center;
  gap: 2rem;
  margin-bottom: 5rem;
}

.testimonials .test-card {
 padding: 2rem;
  border: .2px solid #d3d1d1;
  border-radius: 7px;
}


.test-card .profile {
  display: flex;
  align-items: center;
  gap: 15px;
  margin-bottom: 25px;
}

.test-card .user-info  h3 {
  color: #4d13d1;
  font-weight: 700;
}

.test-card .user-info  h4 {
  font-size: 1rem;
  font-weight: 400;
}

.test-card .profile > img {
  width: 15%;
}

.test-card .experience {
  font-size: 1.2rem;
  font-weight: 500;
  margin-bottom: 25px;
}

.test-card button {
  color: #4d13d1;
  font-size: 1rem;
  font-weight: 600;
  padding: 15px;
  width: 100%;
  background-color: #fff;
  border: .2px solid #d3d1d1;
} 



.footer-container {
  display: flex;
  justify-content: space-between;
  gap: 30px;
}

.text p {
  margin:1rem 9rem 1rem 0;
  line-height: 1.5;
  color: #4f4f4f;
}

footer ul li:first-child{
  font-weight: bold;
}

footer ul li:not(:last-child){
  margin-bottom: 15px;
}