body {
  background-color: #000;
  height: 85vh;
  display: grid;
  place-items: center;
}

.circle {
  background-color: #e67e22;
  height: 200px;
  width: 200px;
  border-radius: 50%;
  position: relative;
  box-shadow: 0 0 10px #ff4500, 0 0 40px #ff4500, 0 0 80px #ff4500;
}

.circle::after {
  content: "";
  position: absolute;
  height: 200px;
  width: 200px;
  border-radius: 50%;
  background-color: #000;
  animation: eclipse 10s ease-in-out infinite;
}

@keyframes eclipse {
  0% {
    transform: translate(-450px, 50px);
    scale: (0.9);
    box-shadow: none;
  }

  50% {
    box-shadow: none;
  }

  65%,
  75% {
    transform: translate(0px, 0px);
    scale: (1.02);
    box-shadow: 0 0 10px #f9f3f2, 0 0 80px 8px #c79388;
  }

  80% {
    box-shadow: none;
  }

  100% {
    transform: translate(450px, -50px);
    scale: (0.9);
    box-shadow: none;
  }
}
